<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
    background-color: #e1e1e3;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    margin: 1rem 2rem 1rem 2rem;

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // margin: ;
        h1 {
            font-size: 1.5rem;
        }

        .midnav {
            display: none;
        }

        .search {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: black;
                color: white;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 20px;
                margin: 0 1rem;
            }

            i {
                font-size: 1.5rem;
                cursor: pointer;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .anav {
                display: none;
            }
        }
    }

    #main1-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        
        background-image: url(pngkey.com-mapamundi-png-2740178.png);
        background-size: cover;
        background-position: right right;

        .left-main-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;

            h2 {
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 2rem;
            }

            .left-main-div-button {
                display: none;
                background-color: red;
            }
        }

        .right-main-div {
            display: flex;
            flex-direction: column;
            align-items: center;

            .right-main-image-div {
                align-items: center;
                width: 100%;
                margin: 0;
                background-position: center;
                gap: 1rem;
                display: grid;
                grid-template-areas:
                    "img1 img1 img2 img2"
                    "img1 img1 img2 img2"
                    "img1 img1 img2 img2"
                    "img1 img1 img2 img2"
                    "img1 img1 img3 img3"
                    "img1 img1 img3 img3";

                .rim1 {
                    grid-area: img1;
                    width: 11rem;
                    aspect-ratio: 9/16.6;
                }

                .rim2 {
                    grid-area: img2;
                    width: 11rem;
                    aspect-ratio: 1/1;
                }

                .rim3 {
                    grid-area: img3;
                    width: 11rem;
                    aspect-ratio: 4/3;
                }
            }

            button {
                background-color: black;
                color: white;
                margin-top: 2rem;
                border: none;
                border-radius: 20px;
                padding: 1rem 2rem;
            }
        }
    }

    .main2-section {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .scroll {
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: none;
            height: 40%;
            width: 100%;
        }

        .scroll-section {

            display: flex;
            width: 100%;
            padding: 10px;
            gap: 10px;

            .destination {
                flex: 0 0 auto;
                width: 250px;
                text-align: center;
                border-radius: 10px;
                padding: 10px;

                img {
                    width: 13rem;
                    object-fit: cover;
                    border-radius: 40px;
                    aspect-ratio: 1/1;
                    margin-bottom: 0.5rem;
                }

                img:hover {
                    transform: scale(1.1);
                    transition: transform 0.3s ease-in-out;
                }

                h3 {
                    font-size: 1.2rem;
                    z-index: 5;
                }
            }
        }

    }
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
    background-color: #e1e1e3;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    margin: 1rem 2rem 1rem 2rem;

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // margin: ;
        h1 {
            font-size: 1.5rem;
        }

        .midnav {
            display: none;
        }

        .search {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: black;
                color: white;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 20px;
                margin: 0 1rem;
            }

            i {
                font-size: 1.5rem;
                cursor: pointer;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .anav {
                display: none;
            }
        }
    }

    #main1-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        
        background-image: url(pngkey.com-mapamundi-png-2740178.png);
        background-size: cover;
        background-position: right right;

        .left-main-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;

            h2 {
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 2rem;
            }

            .left-main-div-button {
                display: none;
                background-color: red;
            }
        }

        .right-main-div {
            display: flex;
            flex-direction: column;
            align-items: center;

            .right-main-image-div {
                align-items: center;
                width: 100%;
                margin: 0;
                background-position: center;
                gap: 1rem;
                display: grid;
                grid-template-areas:
                    "img1 img1 img2 img2"
                    "img1 img1 img2 img2"
                    "img1 img1 img2 img2"
                    "img1 img1 img2 img2"
                    "img1 img1 img3 img3"
                    "img1 img1 img3 img3";

                .rim1 {
                    grid-area: img1;
                    width: 11rem;
                    aspect-ratio: 9/16.6;
                }

                .rim2 {
                    grid-area: img2;
                    width: 11rem;
                    aspect-ratio: 1/1;
                }

                .rim3 {
                    grid-area: img3;
                    width: 11rem;
                    aspect-ratio: 4/3;
                }
            }

            button {
                background-color: black;
                color: white;
                margin-top: 2rem;
                border: none;
                border-radius: 20px;
                padding: 1rem 2rem;
            }
        }
    }

    .main2-section {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .scroll {
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: none;
            height: 40%;
            width: 100%;
        }

        .scroll-section {

            display: flex;
            width: 100%;
            padding: 10px;
            gap: 10px;

            .destination {
                flex: 0 0 auto;
                width: 250px;
                text-align: center;
                border-radius: 10px;
                padding: 10px;

                img {
                    width: 13rem;
                    object-fit: cover;
                    border-radius: 40px;
                    aspect-ratio: 1/1;
                    margin-bottom: 0.5rem;
                }

                img:hover {
                    transform: scale(1.1);
                    transition: transform 0.3s ease-in-out;
                }

                h3 {
                    font-size: 1.2rem;
                    z-index: 5;
                }
            }
        }

    }
>>>>>>> ade18819d3157d63891c2b4e2315b37af738c1d1
}