* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
  background-color: #e1e1e3;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  margin: 1rem 2rem;
}
main #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #navbar h1 {
  font-size: 1.5rem;
}
main #navbar .midnav {
  display: none;
}
main #navbar .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #navbar .search button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 0 1rem;
}
main #navbar .search i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
main #navbar .search i:hover {
  transform: scale(1.1);
}
main #navbar .search .anav {
  display: none;
}
main #main1-section {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  background-image: url(pngkey.com-mapamundi-png-2740178.png);
  background-size: cover;
  background-position: right;
}
@media (min-width: 1080px) {
  main #main1-section {
    flex-direction: row;
    gap: 2rem;
  }
}
main #main1-section .left-main-div {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background: transparent;
}
main #main1-section .left-main-div h2 {
  background-color: transparent;
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 1080px) {
  main #main1-section .left-main-div h2 {
    font-size: 4rem;
  }
  main #main1-section .left-main-div h2 span {
    color: red;
    background-color: transparent;
  }
}
main #main1-section .left-main-div p {
  background-color: transparent;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
main #main1-section .left-main-div .left-main-div-button {
  display: none;
  background-color: red;
}
@media (min-width: 1080px) {
  main #main1-section .left-main-div .left-main-div-button {
    display: block;
    background-color: black;
    color: white;
    margin-top: 2rem;
    border: none;
    border-radius: 20px;
    padding: 1rem 2rem;
  }
  main #main1-section .left-main-div .left-main-div-button:hover {
    background-color: red;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
}
main #main1-section .right-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}
main #main1-section .right-main-div .right-main-image-div {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-areas: "img1 img1 img2 img2" "img1 img1 img2 img2" "img1 img1 img2 img2" "img1 img1 img2 img2" "img1 img1 img3 img3" "img1 img1 img3 img3";
}
@media (min-width: 1080px) {
  main #main1-section .right-main-div .right-main-image-div {
    grid-template-areas: ". . img2 img2" "img1 img1 img2 img2" "img1 img1 img2 img2" "img1 img1 img2 img2" "img1 img1 img3 img3" ". . img3 img3";
  }
}
main #main1-section .right-main-div .right-main-image-div .rim1 {
  grid-area: img1;
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 9/16;
}
main #main1-section .right-main-div .right-main-image-div .rim2 {
  grid-area: img2;
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
}
@media (min-width: 1080px) {
  main #main1-section .right-main-div .right-main-image-div .rim2 {
    aspect-ratio: 3/4;
  }
}
main #main1-section .right-main-div .right-main-image-div .rim3 {
  grid-area: img3;
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 4/3;
}
@media (min-width: 1080px) {
  main #main1-section .right-main-div .right-main-image-div .rim3 {
    aspect-ratio: 1/1;
    margin-top: -8rem;
  }
}
main #main1-section .right-main-div button {
  background-color: black;
  color: white;
  margin-top: 2rem;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
}
main #main1-section .right-main-div button:hover {
  background-color: red;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
@media (min-width: 1080px) {
  main #main1-section .right-main-div button {
    display: none;
  }
}
main .main2-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main .main2-section .scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  width: 100%;
}
main .main2-section .scroll-section {
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
main .main2-section .scroll-section .destination {
  flex: 0 0 auto;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
main .main2-section .scroll-section .destination img {
  width: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  aspect-ratio: 1/1;
  margin-bottom: 0.5rem;
}
main .main2-section .scroll-section .destination img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
main .main2-section .scroll-section .destination h3 {
  font-size: 1.2rem;
}
main .main2-section .Explore-all-destination-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
main .main2-section .Explore-all-destination-btn button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .main2-section .Explore-all-destination-btn button:hover {
  background-color: red;
  transform: scale(1.1);
}
main .main3-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .main3-section .right-3section img {
  margin: 2rem 0 auto;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}
main .main3-section .right-3section h3 {
  font-size: 2rem;
  margin: 0.5rem 0;
}
main .main3-section .right-3section .location {
  margin-top: 0.5rem;
  color: rgb(106, 106, 106);
}
main .main3-section .right-3section p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
main .main3-section .left-3section {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .main3-section .left-3section .stories {
  display: flex;
  align-items: center;
}
main .main3-section .left-3section .stories .place p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
main .main3-section .left-3section .stories .place h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
main .main3-section .left-3section .stories .place .location {
  color: rgb(106, 106, 106);
}
main .main3-section .left-3section .stories img {
  width: 40%;
  aspect-ratio: 1/1;
  margin-right: 2rem;
  border-radius: 2rem;
}
main .main4-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
main .main4-section h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
main .main4-section .left4-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main .main4-section .left4-section .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main4-section .left4-section .profile img {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  align-items: center;
}
main .main4-section .left4-section .profile h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
main .main4-section .left4-section .profile p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
main .main4-section .left4-section .profile .location {
  color: rgb(106, 106, 106);
  margin-bottom: 0.5rem;
}
main .main4-section .left4-section .profile i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
main .main4-section .left4-section .text h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
main .main4-section .left4-section .text p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
main .main4-section .right4-section {
  display: flex;
  gap: 6%;
}
main .main4-section .right4-section img {
  width: 47%;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}
main .main4-section .right4-section .vidtext {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main .main4-section .right4-section .vidtext h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
main .main4-section .right4-section .vidtext button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .main4-section .right4-section .vidtext button:hover {
  background-color: red;
  transform: scale(1.1);
}
main .main4-section .right4-section video {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-foot {
  margin: 2rem 0;
  position: absolute;
  left: 0;
  width: 100%;
  gap: 4rem;
  background-color: rgb(106, 106, 106);
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main-foot h2 {
  font-size: 2rem;
  width: 70vw;
  text-align: center;
  background-color: rgb(106, 106, 106);
}
main .main-foot .search {
  background-color: rgb(106, 106, 106);
}
main .main-foot .search button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .main-foot .search button:hover {
  background-color: red;
  transform: scale(1.1);
}
main .main-foot .search input {
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.5);
}
main .main-foot p {
  color: white;
  font-size: 1rem;
  background-color: rgb(106, 106, 106);
}
main .main-foot p a {
  background-color: rgb(106, 106, 106);
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
main .main-foot p a:hover {
  color: red;
}/*# sourceMappingURL=style.css.map */